h1,p{
    text-align: center;
}
.main{
    border: 1px solid black;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 1em;
}
.col-btn{
    text-align: center;
}
.txtR{
    text-align: right;
}
